.centery {
	text-align: center;

	@include mq(small) {
		
	}

	&-item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 15px;

		@include mq(small) {
			margin: 0 5px;
			
		}

		.centery--wider & {
			margin: 0 30px 30px;

			@include mq(small) {
				margin: 0 15px;
			}
		}
	}

	&--wider {
		margin-bottom: -30px;

		@include mq(small) {
			margin-bottom: 0;
			width: 100%;
		}
	}
}