.covermini {

	width: 100%;
	height: 250px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	@include mq(small) {
		height: auto;
	}
	
	img {
		width: 100%;
		border-radius: 10px;
	}

	.age {
		position: absolute;
		color: white;
		margin: 1em 0 0 1em;
	}

}