.js-links-slider {
	background: black;
	height: 330px;

	.rsImg {
		opacity: .6;
	}

	.rsGCaption {
		display: table-cell;
		vertical-align: middle;
		float: none !important;

		color: white;

		font-weight: bold;
		font-size: 53px;
		line-height: 1.1em;

		&-helper {
			position: absolute;
			left: 50%; top: 0;
			width: 460px;
			margin-left: -(460 / 2) * 1px;
			height: 100%;

			pointer-events: none;

			display: table;

			@include mq(small) {
				width: 100%;
				left: 0;
				margin-left: 0;
			}
		}
	}

	.rsBullets {
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 45px;
		text-align: center;
	}

	.rsBullet {
		display: inline-block;
		width: 10px; height: 10px;
		border-radius: 50%;
		border: 2px solid white;

		margin: 0 3px;
		cursor: pointer;

		&.rsNavSelected {
			background: white;
		}
	}

	.rsArrow {
		position: absolute;
		top: 1.8em;
		right: 8%;
		
		@include mq(ultrabigplus1350) {
				right: 16%;
		}
		@include mq(ultrabigplus1450) {
				right: 18%;
		}
		@include mq(ultrabigplus1550) {
				right:22%;
		}
		
		
		left: auto;
		line-height: 21px;

		color: white;

		@extend %btn-arrow;
	}

	.rsArrowLeft {
		right: 11%;
		
		@include mq(ultrabigplus1350) {
				right: 18%;
		}
		@include mq(ultrabigplus1450) {
				right: 20%;
		}
		@include mq(ultrabigplus1550) {
				right:24%;
		}

		.rsArrowIcn:before {
			@extend %icon-arrow-left, %icon;
		}
	}

	.rsArrowRight {
		.rsArrowIcn:before {
			@extend %icon-arrow-right, %icon;
		}
	}
}