//Это основа для вывода листового айтема
.quest-item{
	@extend %mcf;
	
		&-img{
			width: 40%;
			height: 250px;
			float: left;
				@include mq(small){
				float: none;
				width: 100%;
				}
		}
		&-content{
			width: 55%;
			float: right;
			height: 250px;
			position: relative;
			@include mq(small){
				float: none;
				width: 100%;
			}
		}
		&-top{
		height: 90px;
		@extend %mcf;
			
			h3{
				padding: 0;
				margin: 0;
			}
			&-left{
				width: 60%;
			}
			&-right{	
				width: 40%;
				.quest-info{
						margin-bottom: 0;
					}
				}
			}
		&-middle{
		@extend %mcf;
		height: 130px;
		}
		&-bottom{
		@extend %mcf;
		height: 30px;
		color: $accent-color;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;		
		width: 100%;
				i {
					font-size: 2em;
				}	
				&-icon {
					display: inline-block;
					vertical-align: middle;
				}
				&-adress {
					display: inline-block;
					vertical-align: middle;
				}
				&-button {
					float: right;
				}
		}
}

//Это добавляем, если нужен вывод в букинге

.booking-final-item{
	&-bigname{
		font-size: 2.5em;
		font-weight: normal;
		}
	&-price{
		font-size: 2em;
		color: $accent-color;
		height: 2em;
	}
	&-day{
		font-size: 1.5em;
		height: 1.5em;
	}
	&-adress{
		color: $medium-grey;	
	}
}

//Это добавляем, если нужен вывод в списке

.collection-list-item{
		
		margin-bottom: 4em;
	
		p{
				font-size: 1em;
				line-height: 1.3em;
		}
		

}