//Это основа для вывода листового айтема
.quest-item{
	@extend %mcf;
	
		@include mq(small) {
			
		}

		h3 {
			float: left;
		}

		&-img{

			//Изображение
			width: 40%;
			float: left;

			//Изображение для телефонов
			@include mq(small){
			float: none;
			width: 100%;
			margin: 0 auto;
			}
		}
		


		&-content{
			//Правая колонка контента
			width: 55%;
			float: right;
			height: 250px;
			position: relative;
			//Правая колонка для телефонов
			@include mq(small){float: none;width: 100%; height: auto;}
			
			hr {
			@include mq(small) {
				display: none;
			}
			}
			

		}

		&-top{

			@extend %mcf;

				h3{
				padding: 0;
				margin: 0;
				}


				&-left{
					@extend %mcf;
					width: 60%;

					@include mq(medium){width: 100%; float: none;}
				}

				&-right{
					@extend %mcf;
					float: right;
					width: 40%;
					margin-top: 5px;
					white-space: nowrap;


					.quest-info{ margin-bottom: 0;}

					.iconInfo {
						margin-bottom: 1.5em;
					}

					//Упрощяем правый блок верха для мертвой зоны
					@include mq(medium){
					float: none;
					width: 100%;
					.quest-info {
					width: auto;
					padding-right: 1em;
					padding-top: 1em;
					&-label{display: none;}
					}
					}





				}
			}
		&-middle{
		@extend %mcf;
		@include mq(small) {padding-top: 20px;}
		}
		&-bottom{
		@include mq(small) {padding-top: 20px;}
		@extend %mcf;
		height: 30px;
		@include mq(small){height: auto;}
		
		color: $accent-color;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		@include mq(medium){position: static;}

				&-left{
					display: inline-block;
					vertical-align: top;
					@include mq(medium){
					margin-top: 1em;
					}
				}

				&-right{
					display: inline-block;
					right: 0;
					position: absolute;
					vertical-align: top;
					@include mq(medium){
					position: static;
					display: block;
					text-align: center;
					margin-top: 1em;
					}
				}

				i {
					font-size: 30px;
				}
				&-icon {
					display: inline-block;
					vertical-align: middle;
				}
				&-adress {
					display: inline-block;
					vertical-align: middle;
				}
				&-button {
					float: right;
					@include mq(medium){
					float: none;
					}
				}
		}
}

//Это добавляем, если нужен вывод в букинге

.booking-final-item {

	&-price{
		@extend %mcf;

		font-size: 2em;
		color: $accent-color;
		padding-bottom: 1em;
		}
	&-day{
		@extend %mcf;

		font-size: 1.5em;
		line-height: 1.2em;

		white-space: nowrap;

		padding-bottom: 25px;

		@include mq(medium){padding-top: 1em;}


	}
		@include mq(medium){
		h3{
			float: none;
		}
		}
	hr {
			padding-top: .5em;
	}
	@include mq(medium){
		hr{
			display: none;
		}
		}
	li{
		display: inline-block;
		@include mq(medium){
		display: block;
		}
	}

	.quest-item{
		&-content{
			height: 225px;
			@include mq(small){
			height: auto;
			}
			
		}
		&-bottom{
			color: $medium-grey;
			margin-bottom: 1em;
			

			i {
				color: $medium-grey;
			}

			.iconInfo-content {
				font-size: 15px;
			}

			.age {
				position: absolute;
				right: 0;
				bottom: 0;
				color: $medium-grey;
			}
		}

	}

	&-bigname {
		font-size: 40px;
		line-height: 48px;
		padding-right: 15px;

		+ .quest-item-top-right {
			margin-top: 17px;
		}
	}

	.covermini {
		height: 225px;
	}
}

//Это добавляем, если нужен вывод в списке

.collection-list-item{

		margin-bottom: 4em;

		p{
			font-size: 14px;
			line-height: 1.2em;
		}

		hr {
			margin-top: 1em;
			margin-bottom: 1em;
		}

}

.booking-pay-item{
	.covermini {
		@include mq(small){
		display: none;
		}
	}
}
