 .last,  .first {
	 position: relative
 }

.last::after{
	content: "|";
	position: absolute;
	right: -0.1em;
	font-size: 0.7em;
	//line-height: 1em;
	font-weight: bold;
}

 .first::before {
	content: "|";
	position: absolute;
	left: -0.1em;
	font-size: 0.7em;
	//line-height: 1em;
	font-weight: bold;
	}

.schedule {
	width: 100%;
	table-layout: fixed;
	font-size: 14px;
//	font-size: 1.2vw;
	min-width: 900px;

	@include mq(ultrabig) {
		font-size: 16px;
	}

	&-heading {
		@extend %mcf;


		h4 {
			float: left;
			font-size: 24px;
			line-height: 24px;

			@include mq(small) {
				float: none;
				margin-bottom: .25em;
				padding-top: 20px;
			}
		}

		&-month {
			float: right;
			line-height: 28px; // + 4 мистических пикселя

			@include mq(small) {
				float: none;
				margin-bottom: 1em;
			}

			li {
				display: inline-block;
				
						@include mq(small) {
							margin-right: 1em;
						}


				+ li {
					margin-left: 1em;
						@include mq(small) {
							margin-left: 0;
						}
				}

				a {
					text-decoration: underline;
					color: $medium-grey;
				}

				&.is-active a {
					text-decoration: none;
					color: $accent-color;
				}
			}
		}
	}

	a:hover {
		text-decoration: underline;
	}

	.deactivated {
		display: none;
		&-holder{
			opacity: 0;
		}
	}

	.disabled {
		color: $light-grey;
		cursor: default;

		&:hover {
			text-decoration: none;
		}

		.collection-schedule & {
			color: rgba(black, .25);
		}
	}

	th {
		width: 10%;
		text-align: left;
	}

	td {
		width: 4.8%;
		padding: .5em 0 .25em 0;
	}

	&-time {

		th {
			font-weight: bold;
			color: $accent-color;
			padding-top: 2em;
			vertical-align: top;
			line-height: 1em;
			span {
				float: left;
				padding-top: 0.8em;
				color: $medium-grey;
				font-style: normal;
				

			}

			.collection-schedule & {
				color: white;
				font-size: 1.066666667em; // 16px
				padding-top: 1.9em;
				line-height: 1.7em;
			}
			
			.collection-list & {
				color: white !important; 
			}
			
			
			
		}

		td {
			padding-top: 2em;
			height: 4.2em;
			a{
				display: block;
				height: 1em;
				text-align: center;
				margin-bottom: 1em;
				
			}
			span {
				color: $accent-color;
				font-size: 0.8em;
				line-height: 1em;
				display: block;
				height: 0.6em;
				text-align: center;
				
				.collection-schedule & {
				color: #333;
				color: rgba(black, .75);
				}
				
				.collection-list & {
				color: #333 !important;
				color: rgba(black, .75) !important;
				}
				
				hr {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				border-bottom-color: $accent-color;
				.collection-schedule & {
				border-bottom-color: #333;
				border-bottom-color: rgba(black, .75);
				}
							.collection-list & {
				border-bottom-color: #333 !important;
				border-bottom-color: rgba(black, .75) !important;
				}
				}
	

			}
		}
	}

	&-cost {
		th {
			color: $medium-grey;
			font-size: .928571429em; // 13px
			font-weight: normal;

		}

		td {
			color: $accent-color;
			white-space: nowrap;
			overflow: hidden;

			.collection-schedule & {
				color: #333;
				color: rgba(black, .75);
			}
			
			.collection-list & {
				color: white !important;
			}

			hr {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				margin-left: 10px;
				border-bottom-color: $accent-color;

				.collection-schedule & {
					border-bottom-color: #333;
					border-bottom-color: rgba(black, .75);
				}
				

			}
		}
	}
}

