.booking-final{
	.section {
		@extend %mcf;
		padding: 70px 8% 50px;
	}
	
	&-heading {
		a{
		color: $accent-color;
		text-decoration: underline;
		}
		
		p{
			width: 40%;
			margin: 0 auto;
		}
	}

}

//Ниже я корректирую внешний вид стандартного листайтема под данную страницу