.certificate {
	font-family:"BlissPro";
	padding:0;
	.section {
    width:630px;
		margin:0 auto;
		@media (max-width: 580px) {
			padding-left: 20px;
			padding-right: 20px;
			width:100%;
			box-sizing: border-box !important;
		}
	}

	.section, .section * {
		box-sizing:initial;
	}

	* {
		margin:0;
		padding:0;
	}
	input[type='radio'], label {
		cursor:pointer;
		vertical-align:middle;
	}
	label {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:15px;
		color:#000222;
		margin:0 0 0 10px;
	}
	.centered {
		width:630px;
		margin:0 auto;
		@media (max-width:580px){
			padding-left: 20px;
			padding-right: 20px;
			width:100%;
			box-sizing: border-box !important;
		}
	}
	.clear {
		clear:both;
	}
	.m {
		color:#bc6f00 !important;
		font-family:"Bliss Pro" !important;
		font-style:italic !important;
		font-size:10px !important;
	}

	h2.description {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:21px;
		color:#bc6f00;
		text-align:justify;
		padding:40px 0;
		@media (max-width:580px){
			padding:27px 0;
		}
	}
	.certificate-photo {

		width:630px;
		height:300px;
		margin:0 auto;

		@media (max-width:580px){
			width:100%;
			height:auto;
		}
		img{
			width:100%;
		}
		background-position:center;
		background-repeat:no-repeat;
	}
	.certificate-description {
		margin:40px 0;

		.left {
			display:inline-block;
			vertical-align:top;
			width:65%;
			font-family:"Bliss Pro";
			font-size:15px;
			color:#000222;
			line-height:22px;

			@media (max-width:580px){
				width:100%;
				color:#505050;
			}
		}
		.right {
			display:inline-block;
			vertical-align:top;
			width:22%;
			margin:0 0 0 30px;
			@media (max-width:580px){
				width:100%;
				margin:0;
				position: relative;
				top: 23px;
			}
			.cost {
				font-family:"Bliss Pro";
				font-style:italic;
				font-size:13px;
				color:#666;
				margin:4px 0 15px 0;
				@media (max-width:580px){
					float:left;
				}
			}
			.price {
				font-family:"Bliss Pro";
				font-size:25px;
				color:#000222;
				@media (max-width:580px){
					float:right;
				}
			}
		}
	}
	.form {
		background-color:#f4f4f4;
		padding:40px 0 0;
		@media (max-width: 580px){
			padding:25px 0 0;
		}
	}
	.form-description {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:15px;
		color:#2c3236;
		text-transform:uppercase;
		padding:0 0 20px 0;

		@media (max-width: 580px){
			padding:0 0 0px 0;
		}
	}
	.form-section {
		border-bottom:1px solid #d0d0d0;
		margin:40px 0 0;
		padding:0 0 40px 0;
		.mobile-description{

			display: none;
			br{
				display:none;
			}
			@media (max-width: 580px){
				font-family:"Bliss Pro";
				font-style:italic;
				font-size:13px;
				line-height:18px;
				color:#898989;
				float:left;
				width:100%;
				display: block;
				position: relative;
				top: 18px;
			}
		}
		.left {
			float:left;
			vertical-align:top;
			width:65%;
			.description {
				padding:40px 0 0 25px;
				font-family:"Bliss Pro";
				font-size:15px;
				line-height:22px;
				color:#000222;
				@media (max-width: 580px){
					padding:20px 0 0px 17px;
					width:135%;
				}
				ul{
					li{
						br{
							display: none;
							@media (max-width: 580px){
								display:block;
							}
						}

						margin:0px 0 5px 0;
					  list-style: disc;
					}
					li:last-child{
						margin:0px 0 0px 0;

					}
				}
			}
		}
		.right {
			float:right;
			vertical-align:top;
			margin:0px 0 0 0;
			width:30%;
			@media (max-width: 580px){
				width:34%;
			}
			.price {
				font-family:"Bliss Pro";
				font-weight:bold;
				font-size:25px;
				color:#9e9e9e;
				@media (max-width:580px){
					font-size:18px;
				}
			}
			.price_active {
				font-family:"Bliss Pro";
				font-weight:bold;
				font-size:25px;
				color:#bc6f00;
			}
			.description {
				font-family:"Bliss Pro";
				font-style:italic;
				font-size:13px;
				line-height:18px;
				color:#898989;
				margin:30px 0 0 0;
				display: block;
				@media (max-width: 580px){
					display: none;
				}
			}
		}
	}
	.form-section:last-of-type {
		border:0;
	}
	.form-section ul, .form-section ol, .form-section dl {
		list-style-position:inside;
	}
	.form-bottom {
		width:100%;
		background-color:#FFF;
		padding:40px 0 45px 0;
		.left {
			float:left;
			vertical-align:top;
			width:65%;

			@media (max-width: 580px){
				width:100%;
			}
		}
		.right {
			float:right;
			vertical-align:top;
			width:30%;

			@media (max-width: 580px){
				width:100%;
			}
			.description {
				font-family:"Bliss Pro";
				font-style:italic;
				font-size:13px;
				color:#666;
				padding:20px 0;
				@media (max-width: 580px){
					float:left;
				}
				br{
					@media (max-width: 580px){
						display: none;
					}
				}
			}
			.price {
				font-family:"Bliss Pro";
				font-weight:bold;
				font-size:25px;
				color:#bc6f00;
				padding:0 0 30px 0;
				@media (max-width: 580px){
					float:right;
					padding: 20px 0;
				}
			}
			input[type='submit'] {
				border:2px solid #d9ae70;
				-webkit-border-radius:20px;
				-moz-border-radius:20px;
				border-radius:20px;
				padding:8px 25px;
				text-transform:uppercase;
				font-family:"Bliss Pro";
				font-weight:bold;
				font-size:10px;
				color:#000222;
				background:transparent;
				cursor:pointer;
				@media (max-width: 580px){
					margin: 0 auto;
					padding: 8px 25px;
					width: 90px;
					position: relative;
					top:10px;
					display:block;
				}
			}
		}
		.var {
			font-family:"Bliss Pro";
			display:inline-block;
			vertical-align:bottom;
			width:75px;
			height:20px;
			padding:20px 0 0 0;
			font-size:13px;
			color:#bc6f00;
			@media (max-width: 580px){
				width:22%;
			}
		}
		input[type='text'] {
			border:0;
			outline:none;
			height:20px;
			width:300px;
			padding:15px 0 5px 0;
			line-height:20px;
			vertical-align:top;
			font-family:"Bliss Pro";
			font-size:18px;
			color:#4c4c4c;
			border-bottom:1px solid #cbcccd;
			@media (max-width: 580px){
					width:70%;
					padding:15px 0 0 0;
			}
		}
		input[type='text']:focus {
			border-bottom:1px solid #f2e4cf;
		}
	}
	.form-contacts {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:15px;
		text-transform:uppercase;
		color:#505050;
		padding:0 0 60px 0;

		@media (max-width: 580px){
			padding:0;
		}
		br{
			@media (max-width: 580px){
				display: none;
			}
		}
	}

	/* Player & Media page */
	.middle-menu {
		border-bottom:1px solid #d8d8d8;
		list-style:none;
		text-align:center;
		vertical-align:middle;
		li {
			display:inline-block;
			vertical-align:middle;
			line-height:57px;
		}
		a {
			cursor:pointer;
		}
	}
	.players, .media {
		background-image:url('../../img/feedback_certificate/tabs.png');
		background-position:top left;
		display:inline-block;
		vertical-align:middle;
		width:22px;
		height:19px;
	}
	.players {
		margin:0 5px 0 0;
	}
	.players.active {
		background-position:0 -19px;
	}
	.media {
		background-position:0 -38px;
		margin:0 10px 0 0;
	}
	.media.active {
		background-position:0 -57px;
	}
	.tabs-link {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:13px;
		vertical-align:middle;
		color:#000;
		margin:0 20px 0 0;
		text-transform:uppercase;
		text-decoration:none;
	}
	.tabs-link:hover {
		text-decoration:underline;
	}
	.tabs-link.active {
		color:#bc6f00;
	}
	.tab-media {
		display:none;
	}
	.tab-players .more-comments, .tab-media .more-comments {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:13px;
		color:#000222;
		text-decoration:none;
		text-transform:uppercase;
		background-image:url('../../img/feedback_certificate/comments.png');
		background-repeat:no-repeat;
		padding:0 0 0 30px;
		display:block;
		width:100px;
		height:24px;
		margin:0 auto;
		line-height:24px;
	}
	.tab-players .more-comments:hover, .tab-media .more-comments:hover {
		text-decoration:underline;
	}
	.player-block {
		border-bottom:1px solid #d8d8d8;
		margin:0 0 40px 0;
		.avatar {
			float:left;
			img {
				width:150px;
				height:150px;
			}
		}
		.player {
			margin:0 0 0 180px;
		}
	}
	.player-name {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:15px;
		color:#000222;
		text-transform:uppercase;
		a {
			display:block;
			width:26px;
			height:28px;
			background-image:url('../../img/feedback_certificate/player_fb.png');
			background-repeat:no-repeat;
		}
	}
	.player-fb {
		float:right;
	}
	.player-special {
		font-family:"Bliss Pro";
		font-style:italic;
		font-size:13px;
		line-height:26px;
		color:#7c7c7c;
	}
	.player-text {
		font-family:"Bliss Pro";
		font-size:15px;
		margin:20px 0 30px 0;
		line-height:26px;
		color:#000222;
	}
	.player-info {
		font-family:"Bliss Pro";
		font-weight:bold;
		font-size:12px;
		color:#bc6f00;
		text-transform:uppercase;
		margin:0 0 40px 0;
		.game {
			font-family:"Bliss Pro";
			font-style:italic;
			font-size:13px;
			color:#7c7c7c;
			text-transform:capitalize;
			text-decoration:underline;
			margin:0 10px;
		}
	}
	.media-block {
		border-bottom:1px solid #d8d8d8;
		margin:0 0 40px 0;
		.avatar {
			float:left;
			img {
				width:140px;
				max-height:150px;
			}
		}
		.context {
			margin:0 0 0 170px;
		}
	}
	.media-text {
		font-family:"Bliss Pro";
		font-size:15px;
		line-height:26px;
		color:#000222;
		margin:0 0 30px 0;
	}
	.media-date {
		font-family:"Bliss Pro";
		font-style:italic;
		font-size:13px;
		color:#7c7c7c;
		margin:0 0 40px 0;
	}
	.bottom-social {
		background-color:#f4f4f4;
		text-align:center;
		.can-also {
			font-family:"Bliss Pro";
			font-weight:bold;
			font-size:15px;
			color:#bc6f00;
			text-transform:uppercase;
			padding:40px 0;
			line-height:26px;
		}
	}
	.social-big {
		list-style:none;
		padding:0 0 50px 0;
		li {
			display:inline-block;
			margin:0 20px;
		}
		a {
			display:block;
			width:48px;
			height:48px;
			background-image:url('../../img/feedback_certificate/social_big.png');
			background-repeat:no-repeat;
		}
		.fb {
			background-position:0 0;
		}
		.fb:hover {
			background-position:0 -48px;
		}
		.ff {
			background-position:-48px 0;
		}
		.ff:hover {
			background-position:-48px -48px;
		}
		.ig {
			background-position:-96px 0;
		}
		.ig:hover {
			background-position:-96px -48px;
		}
		.ss {
			width:47px;
			background-position:-145px 0;
		}
		.ss:hover {
			background-position:-145px -48px;
		}
		.vk {
			background-position:-192px 0;
		}
		.vk:hover {
			background-position:-192px -48px;
		}
	}
}
.centery {
	background: none repeat scroll 0 0 #2c3236;
}
