@import "_collection-mixins/collection-color-mixin";
@import "_collection-mixins/collection-item-stars";

@include collection-page-color(1, #89CC32);

section.collection-1, %collection-layout-1 {

	.collection-map {

		&-content-bg {
			.svg & {
				background: url('../../img/front/layout/1/path-1.svg') no-repeat 190px 20px,
							url('../../img/front/layout/1/path-2.svg') no-repeat 695px 210px;
			} .no-svg & {
				background: url('../../img/front/layout/1/path-1.png') no-repeat 190px 20px,
							url('../../img/front/layout/1/path-2.png') no-repeat 695px 210px;

				-pie-background: url('../../img/front/layout/1/path-1.png') no-repeat 190px 20px,
								 url('../../img/front/layout/1/path-2.png') no-repeat 695px 210px;
			}

			&:before {
				.svg & {
					background: url('../../img/front/layout/1/path-first.svg') no-repeat left top;
				} .no-svg & {
					background: url('../../img/front/layout/1/path-first.png') no-repeat left top;
				}

				width: 156px; height: 347px;

				left: 80px;
				bottom: -50px;

				@include mq(ipad) {
					bottom: -83px;
				}

				@include mq(big) {
					bottom: -17px;
				}

				@include mq(ultrabig) {
					bottom: 47px;
				}
			}

			&:after {
				.svg & {
					background: url('../../img/front/layout/1/path-last.svg') no-repeat left top;
				} .no-svg & {
					background: url('../../img/front/layout/1/path-last.png') no-repeat left top;
				}

				width: 108px; height: 171px;

				left: 400px;
				bottom: -50px;

				@include mq(ipad) {
					bottom: -83px;
				}

				@include mq(big) {
					bottom: -47px;
				}

				@include mq(ultrabig) {
					bottom: 47px;
				}
			}
		}

		&-item {

			// 1:

			& {
				left: 20px;
				top: 150px;

				@include star-5;

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-to-top;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom;
					}
				}
			}

			// 2:

			& + #{$item} {
				left: 490px;
				top: 10px;

				@include star-7;

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-to-top;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom-2;
					}
				}
			}

			// 3:

			& + #{$item} + #{$item} {
				top: 340px;
				left: 410px;

				@include star-6;

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-top;
					}

					img:nth-of-type(2) {
						@extend %icon-right-center;
					}

					img:nth-of-type(3) {
						@extend %icon-after-button;
					}
				}
			}

		}
	}


}