@import "_collection-mixins/collection-color-mixin";
@import "_collection-mixins/collection-item-stars";

@include collection-page-color(0, #26C0D5);

section.collection-0, %collection-layout-0 {

	.collection-map {

		&-content-bg {
			.svg & {
				background: url('../../img/front/layout/0/path-1.svg') no-repeat 460px 50px,
							url('../../img/front/layout/0/path-2.svg') no-repeat 655px 290px;
			} .no-svg & {
				background: url('../../img/front/layout/0/path-1.png') no-repeat 460px 50px,
							url('../../img/front/layout/0/path-2.png') no-repeat 655px 290px;

				-pie-background: url('../../img/front/layout/0/path-1.png') no-repeat 460px 50px,
	 							 url('../../img/front/layout/0/path-2.png') no-repeat 655px 290px;
			}

			&:before {
				.svg & {
					background-image: url('../../img/front/layout/0/path-first.svg');
				} .no-svg & {
					background-image: url('../../img/front/layout/0/path-first.png');
				}

				width: 102px; height: 171px;

				left: 120px;
				top: -110px;


				@include mq(ipad) {
					top: (-180px/$scale-1);
				}

				@include mq(big) {
					top: (-180px/$scale-2);
				}

				@include mq(ultrabig) {
					top: (-180px/$scale-3);
				}
			}

			&:after {
				.svg & {
					background-image: url('../../img/front/layout/0/path-last.svg');
				} .no-svg & {
					background-image: url('../../img/front/layout/0/path-last.png');
				}

				width: 184px; height: 162px;

				left: 120px;
				bottom: 10px;

				@include mq(ipad) {
					bottom: 10px*($scale-1 * 2);
				}

				@include mq(big) {
					bottom: 10px*($scale-2 * 2);
				}

				@include mq(ultrabig) {
					bottom: 10px*($scale-3 * -2);
				}
			}
		}

		&-item {

			// 1:

			& {
				left: 5px;
				top: 0px;

				@include star-3;

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-top;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-left-bottom;
					}
				}
			}

			// 2:

			& + #{$item} {
				left: 585px;
				top: 25px;

				@include star-2;

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-center;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom;
					}
				}
			}

			// 3:

			& + #{$item} + #{$item} {
				top: 230px;
				left: 170px;

				@include star-4;

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-to-top;
						margin-top: -20px;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom;
					}
				}
			}

		}
	}


}