.collection-list{
	.section {
		@extend %mcf;
		padding: 70px 8% 50px;
		

		@include mq(ultrabigplus1350) {
			padding: 35px 16% 50px;
		}
		@include mq(ultrabigplus1450) {
			padding: 35px 18% 50px;
		}
		@include mq(ultrabigplus1550) {
			padding: 35px 22% 50px;
		}
		
	}
	
	
	
	&-bottomborder {
		border-bottom: 1px solid $sexy-grey;
	}
	
	&-description{
		background-color: $accent-color;
		text-align: center;
		position: relative;
		overflow: hidden;
		
		&-center{
			padding: 70px 8% 50px;
			@include mq(ultrabig) {
				padding: 35px 13% 50px;
			}
			@include mq(ultrabigplus1350) {
				padding: 35px 16% 50px;
			}
			@include mq(ultrabigplus1450) {
				padding: 35px 18% 50px;
			}
			@include mq(ultrabigplus1550) {
				padding: 35px 22% 50px;
			}
		}
		
		img {
			position: absolute;
			max-width: 80px;
			max-height: 80px;
			
		}
		
		
		//Верхнии
		
		
		img:nth-of-type(1) {
			top: 13%;
			right: 13%;
			@include mq(medium){right: -4%;}
			@include mq(ultrabigplus1450) {right:28%;}
			
		}
		
		img:nth-of-type(2) {
			top: 6%;
			left: 21%;
			@include mq(medium){left: -4%;}
			@include mq(ultrabigplus1450) {left:29%;}
		
			
		}
		
		//Средние
		
		img:nth-of-type(3) {
			top: 65%;
			left: 6%;
			@include mq(medium){display: none;}
			@include mq(normal){left: 0.3%;}
			@include mq(ultrabigplus1450) {left:10%;}	
			@include mq(ultrabigplus1550) {left:15%;}	
			
		}
		
		img:nth-of-type(4) {		
			top: 40%;
			right: 4%;
			@include mq(medium){display: none;}
			@include mq(normal){right: 0.3%;}	
			@include mq(ultrabigplus1450) {right:10%;}	
			@include mq(ultrabigplus1550) {right:15%;}	
		}
		
		//Нижняя
		
		img:nth-of-type(5) {
			bottom: -40px;
			left: 50%;
			@include mq(medium){display: none;}
			
		}
		
		h4{
			color: white;
			font-size: 2.5em;
			margin-bottom: 0.7em;
		}
		
		h5{
			color: #555;
			color: rgba(0, 0, 0, 0.5);
			font-size: 1.5em;
			
		}
		
		p{
			color: white;
		}
	}
	
	&-other {
		
		margin-top: 2em;
		
		
		span {
			color: #555;
			color: rgba(0, 0, 0, 0.5);
		}
		
		ul{
			display: inline;
		}
		
		li {
			display: inline;
			color: white;
			padding-left: 1em;
		}
	}
	

}

