// Назначение цветов для разных:

@mixin collection-page-color($n, $color) {
	.collection-#{$n} {
		.page-heading h3, .page-heading h2 { color: $color; }

		&.section {
			background: $color;
		}

		.accent {
			color: $color;
		}

		.btn {
			background-color: $color;

			&-white {
				color: $color;
			}

			&-outline {
				background: transparent;
				border-color: $color;
			}
		}

		.collection-map-item {
			.btn-outline {
				border-color: white;
			}
		}


		.link {
			color: $color;
		}

		.iconInfo-icon {
			color: $color;
		}

		.quote {
			&-text:before, &-text:after, &-author {
				color: $color;
			}
		}

		.section-map {
			background: $color;

			&:after {
				border-top-color: $color;
			}
		}

		.schedule {
			&-heading-month li.is-active a {
				color: $color;
			}

			&-time th {
				color: $color;
			}

			&-cost td {
				color: $color;

				hr {
					border-bottom-color: $color;
				}
			}
		}

		.collection-list-item-content-bottom {
			color: $color;
		}

		.nav-days .nav-item:after {
			border-bottom-color: $color;
		}

		.age--circle {
			color: $color;
		}

		.collection-list-description {
			background-color: $color;
		}

	}

	.collection-map-item.collection-#{$n} {
		.collection-map-item-heading {
			h4 {
				color: $color;
			}
		}

		.btn-outline {
			border-color: $color;
		}
	}
}