
%icon-after-title {
	margin: 0;
	right: auto;
	top: auto;

	bottom: 50%;
	margin-bottom: 60px;
	left: 300px;
}

%icon-after-button {
	margin: 0;
	right: auto;
	top: auto;

	bottom: 0;
	margin-bottom: -22px;
	left: 270px;
}

%icon-over-title {
	margin: 0;
	right: auto;
	top: auto;

	bottom: 100%;
	margin-bottom: 18px;

	left: 60px;
}

%icon-left {
	&-bottom {
		margin: 0;
		right: auto;
		top: auto;

		left: 0;
		bottom: 0;
	}

	&-top {
		margin: 0;
		right: auto;
		top: auto;

		left: 0;
		top: 15px;
	}

	&-to-top {
		margin: 0;
		right: auto;
		bottom: auto;

		left: -15px;
		top: 80px;
	}

	&-center {
		margin: 0;
		right: auto;
		bottom: auto;

		left: 0;
		margin-right: 20px;
		top: 50%;
		margin-top: -30px;
	}
}

%icon-right {
	&-bottom {
		margin: 0;
		left: auto;
		top: auto;

		right: 30px;
		bottom: -30px;
//		margin-bottom: -70px;
	}

	&-bottom-2 {
		margin: 0;
		right: auto;
		top: auto;

		left: 100%;
		bottom: 0;
		margin-bottom: -20px;
		margin-left: -40px;
	}

	&-center {
		margin: 0;
		right: auto;
		top: auto;

		left: 100%;
		bottom: 60px;
	}
}
