._login-dropdown {
	padding: 18px  40px 30px;
	line-height: 40px;
	background-color: $main-color;
	color: white;
	
	._login-label {
		width: 60px;
		display: inline-block;
		
		+ .input {
			width: 200px;
			border-bottom-color: white;
		}
	}
}