._login-dropdown {
	padding: 18px  40px 30px;
	line-height: 40px;
	background-color: $main-color;

	font-size: 12px;

	&, .btn-link {
		color: white;
	}

	.form {
		width: 290px;
		line-height: normal;

		.form-row + .form-row {
			margin-top: 30px;
		}
	}
}