section.printed {
	display: none ;
}

@media print {
	.booking-final{
		display: none;
	}

	.header, .header-ghost{
		display: none;
	}
	.footer{
		display: none;
	}

	.btn-print{
		display: none;
	}

	section.section {
		padding: 0 !important;
	}

	.page {
		padding: 0 !important;

	}

	section.printed{
		display: block;
	}

	.printed{
		&-footer{
			position: absolute;
			bottom: 0;
			width: 100%;
			left: 0;
		}

		img{
			padding-top: 15%;
		}
	}

	.printed-list{
		text-align: center;
		width: 100%;
		.age {
			display: inline-block;
		}
	}

	.section-non-printed{
		display: none;
	}

}

