.textpage {
	.section {
	@extend %mcf;
	padding: 70px 8% 50px;
	@include mq(ultrabig) {
		padding: 35px 13% 50px;
	}
	@include mq(ultrabigplus1350) {
		padding: 35px 16% 50px;
	}
	@include mq(ultrabigplus1450) {
		padding: 35px 18% 50px;
	}
	@include mq(ultrabigplus1550) {
		padding: 35px 22% 50px;
	}
	}
	
	h3{
		font-size: 21px;
		padding-top: 1em;
		padding-bottom: 1em;
		margin: 0;
	}
	
	&-contacts {
		
		&-colums {
				@extend %mcf;
				padding-bottom: 1.5em;
				padding-top: 1.5em;

				
			div{
				@extend %mcf;
				float: left;
				margin-left: 0%;
				@include mq(small){
				float: none;
				}
			}
			
			&-one {
				width: 33.333333333%;
				padding-right: 20%;
				@include mq(small){
				width: 100%;
				padding-right: 0;
				}
			}
			&-two {
				width: 33.333333333%;
				color: $accent-color;
				padding-right: 20%;
				@include mq(small){
				width: 100%;
				padding-right: 0;
				}
			}
			&-three {
				width: 33.333333333%;
				@include mq(small){
				width: 100%;
				}
				span {
					color: $accent-color;
				}
			}
		}

	}
}