$collection-color-assets: #26C0D5;


.winners {
	&-circle{
		border-color: $light-grey;
		color: $light-grey;
		border-style: solid;
		border-width: 2px;
		height: 2em;
		width: 2em;
		border-radius: 1em;
		float: left;
	}

	&-back{
		position: absolute;
		top: 50%;
		left: 8%;
		color: $medium-grey;
	}

	&-heading {
		position: relative;

	}

	.section{
		@extend %mcf;
		padding: 0px 8% 50px;
		@include mq(small){padding: 0px 0px 50px;}
	}

	&-table {
		width: 100%;
		table-layout: fixed;
		font-size: 17px;
	//	font-size: 1.2vw;
		min-width: 320px;

		tr {

					}

		@include mq(small){
			font-size: 12px;
		}



		td{
			&:first-of-type{
				padding-left: 8%;
			}
			&:last-of-type{
				padding-right: 8%;
			}
			padding: 1em;
			@include mq(small){padding: 0.6em;}
		}

		&-header {
			color: $collection-color-assets;
			font-size: 0.8em;
			height: 3em;
		}

		&-team {
			&:hover{background-color: $sexy-grey;}
			height: 3em;
		}

		&-userteam {
			background-color: $collection-color-assets;
			color: white;
			height: 3em;
		}

		&-mesto {
			width: 6%
		}

		&-comanda {
			width: 40%;
			@include mq(small){width: 30%;}
		}

		&-vremya {
			width: 16%
		}

		&-data {
			width: 16%
		}


		&-photo {
			width: 10%
		}


		&-firstcol {
		padding-left: 8%;
		}

		&-lastcol {
		padding-right: 8%;

		}


	}

}