.quest {
	.section {
		@extend %mcf;

		padding: 70px 8% 50px;
		 
		@include mq(ultrabigplus1350) {
			padding: 35px 16% 50px;
		}
		@include mq(ultrabigplus1450) {
			padding: 35px 18% 50px;
		}
		@include mq(ultrabigplus1550) {
			padding: 35px 22% 50px;
		}
		@include mq(small) {
			padding-top: 30px;
		}
	}

	&-icon{
		z-index: -1;
		position: absolute;
		max-width: 80px;
		max-height: 80px;
		@include mq(medium) {
			display: none;
		}
		&:nth-of-type(1) {
		top: 10%;
		margin-left: -100px;
		}
		&:nth-of-type(2) {
		bottom: 10%;
		margin-left: -90px;
		
		}
		&:nth-of-type(3) {
		top: 30%;
		right: 1%;
		@include mq(ultrabigplus1350) {right: 9%;}
		@include mq(ultrabigplus1450) {right: 12%;}
		@include mq(ultrabigplus1550) {right: 17%;}
		}
	}

	&-top{
		@extend %mcf;
	}

	&-quest{
		@extend %mcf;
	}

	&-section-first{
		@extend %mcf;
		padding: 70px 8% 0;
		position: relative;
		overflow: hidden;
		 

		@include mq(ultrabigplus1450) {
			padding: 35px 18% 50px;
		}
		@include mq(ultrabigplus1550) {
			padding: 35px 22% 50px;
		}

		@include mq(medium) {
			padding-top: 30px;
		}
	}

	.quote {
//		padding-top: 2em;
		font-size: 20px;
	}


	.section-map {
		background: $accent-color;
		color: white;
		text-align: center;
		font-size: 20px; font-weight: bold;
		padding: 40px 0 50px;
		position: relative;

		.js-btn-toggly {
			position: absolute;
			bottom: -1.5em;
			width: 60px; height: 60px;
			left: 50%; margin-left: -30px;
		}

		+ .js-map {
			background-color: $light-grey;
		}

		&:after {
			position: absolute;
			left: 50%; margin-left: -25px;
			content: "";
			display: block;
			top: 100%; z-index: 1;

			@include triangle(50px 15px, $accent-color, down);
		}

		&:before {
			position: absolute;
			left: 50%; margin-left: -9px;
			content: "";
			display: block;
			top: 100%; z-index: 2;

			@include triangle(18px 5px, white, down);
		}
	}

	&-article {
		float: left;
		width: 66%;
		margin-bottom: 2em;

		&-heading {
			padding-bottom: 2em;

			h2 {
				margin-bottom: .5em;
			}

			&-collection {
				text-align: right;
				margin-top: -2em;

				@include mq(small) {
					margin-top: 0;
					text-align: left;
				}

				.label {
					font-size: 15px;
					margin-right: 1em;
					color: $medium-grey;
				}

				.link {
					font-size: 19px;
					text-decoration: underline;
				}
			}
		}

		@include mq(medium){
			float: none;

			width: auto;
		}
	}

	&-aside {
		width: 26%;
		float: right;
		position: relative;

		@include mq(medium){
			float: none;
			width: auto;
		}

		.btn {
			margin-bottom: 2em;
			margin-top: .75em;
		}

		.age {
			position: absolute;
			right: 0;
			bottom: .25em;
			@include mq(small){top: 5em}
		}
	}

	&-info {
		width: 45%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 2.5em;
		
		@include mq(medium) {
			display: none
		}

		&--container {
			white-space: nowrap;
		}

		& + & {
			margin-left: 15px;
		}
	}

	&-contacts {
		margin-top: 2.5em;
		line-height: 1.5em;

		@include mq(medium) {
			margin: 1em 0 2.5em;
		}
	}
}

.other-games-slider{

	position: absolute;
	z-index: 100;
	color: white;
	font-size: 1em;
	padding-top: 1.8em;
	font-weight: bold;
	padding-left: 8%;
	
	span{
		font-size: 1.5em;
	}
	

	 
	@include mq(ultrabigplus1350) {
			padding-left: 16%;
	}
	@include mq(ultrabigplus1450) {
			padding-left: 18%;
	}
	@include mq(ultrabigplus1550) {
			padding-left:22%;
	}
	

}
