$collection-user: #F5F5F6;
$scale-1: .95;
$scale-2: 1.05;
$scale-3: 1.15;

// @include collection-page-color(1, $collection-1);

.collection-user {
	background: #f4f4f4;

	.section-heading {
		color: $accent-color;
	}

	.aligner {
		height: auto;
	}

	.aligner + .aligner:before {
		content: "";
		display: block;
		position: absolute;

		.svg & {
			background: url('../../img/front/layout/user/path-6.svg') no-repeat left top;
		} .no-svg & {
			background: url('../../img/front/layout/user/path-6.png') no-repeat left top;
		}

		width: 414px; height: 143px;

		left: 220px;
		top: -100px;

/*
		@include mq(ipad) {
			top: -160px / $scale-1;
		}

		@include mq(big) {
			top: -160px / $scale-2;
		}

		@include mq(ultrabig) {
			top: -160px / $scale-3;
		}
*/
	}

	.collection-map {

		padding-bottom: 100px;
		@mixin path($image, $width, $height, $left, $top){
			$imageUrl: str-slice($image, 0, -5);

			&:before {
				content: "";
				display: block;
				position: absolute;

				width: $width; height: $height;

				top: $top; left: $left;

				transform: translateZ(0);

				.svg & {
					background: url('#{$imageUrl}.svg') no-repeat;
				} .no-svg & {
					background: url('#{$imageUrl}.png') no-repeat;
				}

				@content;
			}
		}

		&-item {
			color: $dark-grey;

			// 1:

			left: 70px;
			top: 30px;

			@include star-1;

			.collection-map-item-icons {
				img:nth-of-type(1) {
					@extend %icon-left-to-top;
				}

				img:nth-of-type(2) {
					@extend %icon-after-title;
				}

				img:nth-of-type(3) {
					@extend %icon-right-bottom;
				}
			}

			// 2:

			> .collection-map-item  {
				left: 520px;
				top: 100%;


				@include star-2;


				@include path('../../img/front/layout/user/path-1.png', 300px, 139px, -100px, -180px);

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-bottom;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom;
					}
				}

			}

			// 3:

			> .collection-map-item
			> .collection-map-item  {
				top: 100%;
				margin-top: 0;
				left: -580px;

				@include path('../../img/front/layout/user/path-2.svg', 412px, 160px, 220px, -170px);

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-over-title;
					}

					img:nth-of-type(2) {
						@extend %icon-right-bottom;
					}

					img:nth-of-type(3) {
						@extend %icon-after-title;
					}
				}
			}

			// 4:

			> .collection-map-item
			> .collection-map-item
			> .collection-map-item  {

				top: 100%;
//				margin-top: 15px;
				left: 560px;

				@include path('../../img/front/layout/user/path-3.svg', 507px, 186px, -130px, -220px);

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-to-top;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom;
					}
				}

			}

			// 5:

			> .collection-map-item
			> .collection-map-item
			> .collection-map-item
			> .collection-map-item {
				top: 100%;
//				margin-top: 15px;
				left: -500px;

				@include path('../../img/front/layout/user/path-4.svg', 244px, 134px, 310px, -130px);

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-over-title;
					}

					img:nth-of-type(2) {
						@extend %icon-left-center;
					}

					img:nth-of-type(3) {
					@extend %icon-right-bottom;
					}
				}
			}

			// 6:

			> .collection-map-item
			> .collection-map-item
			> .collection-map-item
			> .collection-map-item
			> .collection-map-item {
				top: 100%;
//				margin-top: 15px;
				left: 510px;

				@include path('../../img/front/layout/user/path-5.svg', 303px, 104px, -100px, -130px);

				.collection-map-item-icons {
					img:nth-of-type(1) {
						@extend %icon-left-to-top;
					}

					img:nth-of-type(2) {
						@extend %icon-after-title;
					}

					img:nth-of-type(3) {
						@extend %icon-right-bottom;
					}
				}
			}


			.iconInfo-content {
				font-size: 15px;
			}
		}
	}


}