//////////////////////////////
//
// 	Базовые стили:
//
/////////////////////////////

html, body {
	height: 100%;
}

html {
	height: 100%;
	background: white;
}

.aligner, %aligner {
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}

.logo {
	display: block;

	&--big {
		padding: 8% 0 8%;
	}
}