//////////////////////////////
//
// 	Базовые стили:
//
/////////////////////////////

html, body {
	height: 100%;
}

html {
	height: 100%;
	background: white;
}

.aligner, %aligner {
//	padding: 0 40px;
	max-width: 1400px;
	margin: 0 auto;
}

.page {
	position: relative;
	z-index: 1;
	
	min-height: 100%;
}

.logo {
	display: block;
	
	&--big {
		padding: 25px 0 50px;
	}
}

#lpckWarningOverlay, #lpckLagWarningOverlay {
	display: none !important;
}

.inverted, %inverted {
	background: $main-color;
	color: white;
}