/*! Страница Обратной связи */
// Developer: John Grishin

%btn-base {
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;

	i:first-child {
		margin-right: 3px;
	}
}

.btn {
	@extend %reset-appearance;
	@extend %btn-base;

	background: $main-color;
	color: #fff;

	padding: .75em 2.25em;

	font-weight: bold;
	border-radius: 40px;
	position: relative;
	overflow: hidden;

	i.icon-arrow-right{
		width: 0;
		position: absolute;

		&:before {
			left: 20px; opacity: 0;

			transition: all .2s;
		}
	}

	&:hover {
		i.icon-arrow-right:before {
			left: 5px;
			opacity: 1;
		}
	}

	&--big {
		font-size: 14px;
		display: block;
		text-align: center;
	}

	&-simple {
		@extend %reset-appearance;
		@extend %btn-base;

		color: inherit;
		background: transparent;
	}

	&-to-center {
		display: table;
		margin: 0 auto;
	}

	&-outline {
		background: transparent;
		color: inherit;
		border: 1px solid $accent-color;
		letter-spacing: .1em;
	}

	&-link {
		@extend %reset-appearance;
		@extend %btn-base;

		color: $accent-color;
		border-bottom: 1px solid;
	}

	&-white {
		background: white;
		color: $main-color;
	}
}