/*! Страница Обратной связи */
// Developer: John Grishin

%btn-base {
	display: inline-block;
	font-size: 10px;
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;

	i:first-child {
		margin-right: 3px;
	}
}

.btn {
	@extend %reset-appearance;
	@extend %btn-base;

	background: $main-color;
	color: #fff;

	padding: .75em 2.25em;

	font-weight: bold;
	border-radius: 40px;
	position: relative;
//	overflow: hidden; margin-top: 1px;

	i.icon-arrow-right {
		width: 0;
		position: absolute;

		&:before {
			left: 20px;
			color: transparent;
			transition: all .2s;

			.lt-ie9 & {
				left: 5px;
			}
		}
	}

	&:hover {
		i.icon-arrow-right:before {
			left: 5px;
			color: inherit
			}
	}

	&--big {
		font-size: 14px;
		display: block;
		text-align: center;
	}

	&-simple {
		@extend %reset-appearance;
		@extend %btn-base;

		color: inherit;
		background: transparent;
	}

	&-to-center {
		display: table;
		margin: 0 auto;
	}

	&-outline {
		background: transparent;
		color: inherit;
		border: 1px solid $accent-color;
		letter-spacing: .1em;
	}

	&-link {
		@extend %reset-appearance;
		@extend %btn-base;

		color: $accent-color;
		border-bottom: 1px solid;
	}

	&-white {
		background: white;
		color: $main-color;
	}

	&-left, &-right {
		text-decoration: underline;

		overflow: visible;
	}

	&-close {
		@extend %reset-appearance;
		overflow: visible;
	}

	@at-root %btn-arrow, &-left:before, &-right:before, &-close:before {
		display: inline-block;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 2px solid;
		text-align: center;
		font-size: 12px; line-height: 18px;
		left: -7px;
	}

	&-left:before {
		@extend %icon-arrow-left, %icon;
	}

	&-right:before {
		@extend %icon-arrow-left, %icon;
	}

	&-close:before {
		@extend %icon-cross, %icon;
	}
}

._back-btn {
	position: absolute;
	left: 0;

	@include mq(small) {
		position: relative;
		display: block;

		top: -30px;
	}
}

.bestplayersbtn {

	border-radius: 5px;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	padding-left: 50px;
	
	&:before {
		@extend %icon-best-left, %icon;
		position: absolute;
		left: -23px;
		color: $accent-color;
		font-size: 25px;
		line-height: 33px;

	}
	
	
	&:after {
		@extend %icon-best-right, %icon;
		position: absolute;
		right: -23px;
		color: $accent-color;
		font-size: 25px;
		line-height: 33px;
	}
	
	.icon-cubok{
		left: -65px;
		width: 100%;
		text-align: center;
		top: 5px;
		font-size: 23px;
		position: absolute;
		//transform: scale(2, 2);
	}
	
}