.quote {
	position: relative;
	margin: 0 auto;
	height: 155px; line-height: 155px;
	text-align: center;
	background: white;

	&-text {
		max-width: 610px;
		min-width: 320px;
		width: 50%;

		padding: 0 30px;
		display: inline-block; vertical-align: middle;

		text-align: left;
		font-style: italic;
		line-height: 1.65em;
//		top: -1.65em;

		quotes: none;

		position: relative;
		overflow: hidden;

		&:before, &:after {
			//content: "";
			@extend %icon;

			color: $accent-color;

			display: block;
			position: absolute;
			width: 27px; //height: 20px;
		}

		&:before {
			top: .25em;
			left: 0;

			@extend %icon-qmark-left;

			/*
background: url('../images/icons/mark-left.png') no-repeat left center;

			@include hidpi {
				background-image: url('../images/icons/mark-left.svg');
			}
*/
		}

		&:after {
			right: 0;
			bottom: 1.75em; top: auto;

			@extend %icon-qmark-right;

		}
	}

	&-image {
		margin-right: 3em;
		vertical-align: bottom;
		max-width: 150px;

		@media (max-width: 660px) {
			display: none;
		}
	}

	&-author {
		display: block;
		text-align: right;
		font-size: .71em;
		color: $accent-color;
		font-style: normal;
	}
}