.quote {
	position: relative;
	margin: 0 auto;
//	min-height: 155px;
	display: table;
	text-align: center;
	width: 80%;

	max-width: 700px;

	.rsContent & {
		height: 100%;
	}

	.quest-quote & {
		width: 100%;
	}

	@include mq(to-small) {
		display: none;
	}

	@include mq(small) {
		width: 95%;
	}

	&-text {
		padding: 0 60px;
		display: inline-block;

		text-align: left;
		font-style: italic;
		line-height: 1.65em;

		quotes: none;

		position: relative;
		overflow: hidden;

		&-container {
			display: table-cell;
			vertical-align: middle;

			padding-top: 15px;
		}

		&:before, &:after {
			//content: "";
			@extend %icon;

			color: $accent-color;

			display: block;
			position: absolute;
			width: 27px; //height: 20px;
		}

		&:before {
			top: 5px;
			left: 30px;

			@extend %icon-qmark-left;
		}

		&:after {
			right: 30px;
			bottom: 2em; top: auto;

			@extend %icon-qmark-right;

		}
	}

	&-image {
		display: table-cell;
		vertical-align: bottom;
		max-width: 150px;
		padding-top: 15px;

		@include mq(small) {
			display: none;
		}
	}

	&-author {
		display: block;
		text-align: right;
		font-size: .71em;
		color: $accent-color;
		font-style: normal;
	}
}