html {
	font: normal #{$base-font-size}/1em "Bliss Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	color: #222;
	-webkit-font-smoothing: antialiased;
}

a { color: inherit; }

h1, h2, h3, h4, h5 {
	-webkit-font-smoothing: antialiased;
	line-height: 1.25em;
}

h2 {
	font-size: 34px;
	margin-bottom: .25em;
}

h3 {
	font-size: 32px;
	margin-bottom:.75em;

	.section-heading & {
		margin-bottom: .25em;
	}
}

h4 {
	font-size: 18px;
	line-height: 1.25em;
	margin-bottom: 1.4em;

	.section-heading &, .footer & {
		text-transform: uppercase;
		margin-bottom: 2em;
	}

	.splitter & {
		font-size: 20px;
	}
}

small {
	font-size: 11px;
}


%heading {
	text-align: center;

	p { //Subheading
		font-size: 18px;
		color: #555;
		color: rgba(black, .5);
	}

	a p {
		text-decoration: underline;
	}
}

/* Articles */

p {
	line-height: 1.75em;

	& + &, & + .btn {
		margin-top: 1em;
	}

	@include mq(to-small) {
		line-height: 1.4em;
	}
}

hr {
	border: none;
	border-bottom: 1px solid $light-grey;
}


/*
 * Custom elements:
 */

.link {
	color: $main-color;

	&-small {
		font-size: .8em;
		border-bottom: 1px solid;
		color: $medium-grey;
	}
}

.link-dotted {
	border-bottom: 1px dotted #555;
}


.faded {
	color: lighten($color-text, 50%);
}

.dark { color: #404040; }

.info {
	margin-bottom: 30px;

	li {
		margin-bottom: .75em;
	}
}