$scale-0: .9 !global;
$scale-1: .95 !global;
$scale-2: 1.0 !global;
$scale-3: 1.05 !global;
$mapHeight: 450px !global;
$item: ".collection-map-item";


.collection {
	&-map, &-schedule {
		color: white;
		overflow: hidden;
	}

	&-map {
		.aligner {
			position: relative;
			height: $mapHeight;

			@media (max-width: 850px) {
				height: auto !important;

				&:before, &:after {
					content: none !important;
				}
			}

			max-width: 1050px;
			transform-origin: top center;

			@include mq(medium) {
				transform: scale($scale-0) !important;

				height: $mapHeight*$scale-0;
			}

			@include mq(ipad) {
				transform: scale($scale-1) !important;

				height: $mapHeight*$scale-1;
			}

			@include mq(big) {
				transform: scale($scale-2) !important;

				height: $mapHeight*$scale-2;
			}

			@include mq(ultrabig) {
				transform: scale($scale-3) !important;

				height: $mapHeight*$scale-3;
			}
		}

		&-item {
			width: 400px;
			padding: 30px 30px 30px 90px;

			&.is-empty {
				background: none !important;

				@media (max-width: 850px) {
					display: none;
				}
			}

			&-heading {
				position: relative;

				margin-bottom: $magic-number * 1.5;

				h4 {
					width: 130px;
					font-size: 25px;
					color: #444;
					color: rgba(black, .7);

					margin-bottom: 10px;
				}

				p a {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}

			&-date {
				display: inline-block;
				margin-left: 1em;
			}

			.btn {
				border-color: white;
				margin-top: $magic-number * 2;
			}

			@media (max-width: 850px) {

				position: relative;
				left: auto !important; right: auto !important;
				top: auto !important; bottom: auto !important;
				background: none !important;
				margin-top: 90px !important;

				padding: 0 30px;
				width: auto;
				max-width: 500px;
				margin: 0 auto;

				&:before {
					content: none !important;
				}

				& > .collection-map-item {
					padding: 0;
					width: auto;
				}

				&-heading  {
					height: auto;

					span {
						position: static;
					}
				}
			}


			/* ---
				Типичные варианты расположения иконок:

			---	*/

			&-icons {
				img {
					position: absolute;

					@media (max-width: 850px) {
						display: none;

						&:first-child { // Номер иконки, которая останеться на маленьком экране
							display: block;

							position: absolute;

							margin: 0 !important;
							right: auto !important;
							top: auto !important;

							bottom: 50% !important;
							margin-bottom: 60px !important;
							left: 220px !important;
						}
					}
				}
			}

			position: absolute; z-index: 1; // <- Основные стили
		}

		&-path {
			position: absolute; z-index: 2; // <- Основные стили

			@media (max-width: 850px) {
				display: none;
			}
		}

		&-content-stars {
			position: absolute;
			left: 0; top: 0;
			width: 100%;
			height: 100%;

			z-index: 1;
		}

		&-content-bg {
			z-index: 0;
			position: absolute;
			left: -50px; top: 0; right: -100px; bottom: -25px;

			@media (max-width: 850px) {
				background: none !important;
			}

			&:before, &:after {
				content: "";
				display: block;
				position: absolute;
				background-repeat: no-repeat;

				@media (max-width: 850px) {
					content: none;
				}
			}
		}
	}
}