$header-height: 50px;

.header {
	position: fixed; z-index: 100; left: 0; top: 0;
	background: $main-color;
	background: rgba(#232323, 0);
	color: white;

	width: 100%;

	// Vertical centering:
	height: $header-height;
	line-height: $header-height;

	transition: background .2s;

	&:hover, &.is-visible {
		background: rgba(#232323, .95);
	}

	&-ghost {
		position: fixed; z-index: 0; left: 0; top: 0;
		background: $main-color;
		background: rgba(#232323, .95);
		color: white;

		width: 100%;

		// Vertical centering:
		height: $header-height;
		line-height: $header-height;

		transition: background .2s;

		+ .page {
			margin-top: $header-height;
			padding-top: 75px;

			._sherlock-about {
				padding-top: 160px - 75px - $header-height;
			}
		}
	}

	&-logo {
		float: left;
		padding-top: 3px; // <- small alignment fix
		padding-left: 40px;

		@include mq(to-small) {
			padding-left: 1em;
		}
	}

	&-nav {
		//position: relative;

		&--on-right {
			white-space: nowrap;
			text-align: right;

			.nav-item:last-child:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%; margin-top: -5px; left: 0;
				height: 10px;
				width: 1px;
				background: white;
			}
		}

		@include mq(small) {
			display: none !important;

			animation: menu-appear .3s reverse;

			&-toggle.is-active + & {
				clear: both;
				min-height: 1024px;

				text-align: left;

				display: block !important;
				width: 100%;

				background: $main-color;
				background: rgba(#232323, .95);

				position: relative;  z-index: -1;
				top: -4px;

				animation: menu-appear .3s;

				> ul {
					float: none !important;
					display: block;
					text-align: left;
				}

				.nav-item {
					display: block;

					border-top: 1px solid #C4C4C4;

					border-top-color: rgba(#C4C4C4, .8);

					height: auto;

					> a, > span {
						font-size: 14px;
						display: block;
					}
				}

				.nav-item.dropdown {
					background: white;
					color: $main-color;
				}
			}
		}

		&-toggle {
			height: $header-height;
			width: $header-height;
//			margin-right: 1em;
			float: right;

			&.is-active {
				background: white;
			}
		}



		.dropdown-block {
			background: $main-color;
			background: rgba(#232323, .95);

			@include mq(small){
				background: none;
				padding: 0;

				li {
					padding: 1em 0;

					&:last-child {
						padding-bottom: 1.5em;
					}
				}

				.btn-simple {
					font-size: 14px;
					font-weight: bold;
				}
			}
		}

		.nav-item {
			color: #fff;
			height: $header-height;
		}

		&-triangle {
			position: absolute;
			bottom: -1px; left: 9999px;
			display: none;

			transition: left .15s;
			transform: translateZ(0);

			.header:hover & {
				transition: none;
				display: block;
			}

			@include triangle(12px, white, up);
		}
	}
}

.nav-item.current ~ .header-nav-triangle {
	display: block;
}

@keyframes menu-appear {
	from {
		opacity: 0;
//		transform: scaleY(0);
//		transform-origin: center top;
	}

	to {
		opacity: 1;
//		transform: scaleY(1);
	}
}