.page {
	position: relative;
	z-index: 0;

	min-height: 100%;
	background: white;

/*
	&:after {
		content: "";
		display: block;
		background: white;
		position: absolute;
		z-index: -1;
		left: 0; top: 0;
		width: 100%; height: 100%;
	}
*/

	&-heading {
		@extend %heading;

		padding: 50px 0 40px;

		h3 { text-transform: uppercase; }

		p {  color: black; }
	}

	&-cover {
		height: 350px;
//		height: 100%;
		overflow: hidden;
		position: relative;
		z-index: 0;

		&-bg {
			img {
				width: 100%;

				position: absolute;
				left: -9999px; right: -9999px; top: 0; //top: -9999px; bottom: -9999px;
				margin: auto;
				z-index: -1;
			}

			+ .page-cover-content {
				color: white;
			}
		}
	}
}

.fixed-top {
	position: fixed;
	z-index: 0;
	width: 100%;
}